@{
  Layout = "_Layout";
}


<h1>Add a new order to @Model.Name's collection.</h1>

<p>Choose from our list:</p>
<p>Bread Loaves: </p>
<p>White, Wheat, Multigrain, Rye</p>
<p>$5 each, buy 2, get one free.</p>

<p>Choose from our list:</p>
<p>Pastries: </p>
<p>Madeleines, Cupcakes, Muffins, Doughnuts, Croissants</p>
<p>$2 each, 3 for $5.</p>



<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <label for="title">Vendor's job title</label>
  <input id="title" name="title" type="text">
  <label for="date">Today's Date</label>
  <input id="date" name="date" type="date">
  <label for="description">Order description:</label>
  <input id="description" name="description" type="text">
  <label for="bread">Bread Order</label>
  <input id="bread" name="bread" type="text">
  <label for="pastry">Pastry Order</label>
  <input id="pastry" name="pastry" type="text">
  <button type='submit'>Add Order</button>
</form>