<h1>Order Details: </h1>

<h2>@Model["order"].Bread</h2>
<h2>@Model["order"].Pastry</h2>
<h3>Vendor: @Model["vendor"].VendorName</h3>

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
<a href='/vendors'>View all vendors</a>